h1{
	color: orange;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.kotak {
	/*ini adalah hiasan untuk class kotak*/
	background: #0c7ae0;
	padding: 50px;
	margin: 10px;
	width: 100px;
	height: 50px;
	color: #ffffff;
	float: left;
}
.kotak2 {
	background: #9c89bc;
	padding: 50px;
	margin: 10px;
	width: 100px;
	height: 50px;
	color: #ffffff;
	float: left;
}

#kotak4 {
	/*Ini adalah hiasan untuk Id kotak*/
	background: pink;
	padding: 50px;
	margin: 10px;
	width: 100px;
	height: 50px;
	color: gray;
	float: left;
}

#kotak {
	/*Ini adalah hiasan untuk Id kotak*/
	background: orange;
	padding: 50px;
	margin: 10px;
	width: 100px;
	height: 50px;
	color: #ffffff;
	float: left;
}